In [85]:
import pandas
import matplotlib.pyplot as plt
import seaborn as sns
csvpath = "d:/Code/PYTHON/AI/naive-baiyes/Program/data.csv"
data = pandas.read_csv(csvpath)
print(data)

   namapegawai  masakerja  usia  nilaipelatihan  nilaikerja hasilevaluasi
0    ALI TOPAN         10    35              71          93       PROMOSI
1      SARTIKA         15    32              82          62       PROMOSI
2         MIKA          5    25              91          88        MUTASI
3         RUBY          8    30              72          96       PROMOSI
4   BIAN UTAMI         20    45              59          98        MUTASI
5     RIANDARI         17    42              97          62        MUTASI
6    ULI ALWAN         23    52              97          73       PROMOSI
7       KANITA         18    48              50          84       PROMOSI
8       SARINI          2    32              60          72           PHK
9       RAFINA          7    37              81          99       PROMOSI
10     BUDIMAN         15    48              69          92        MUTASI
11     SARTIKA         15    32              87          85       PROMOSI
12        MIKA          5    25              70          90        MUTASI
13        RUBY          8    30              77          77           PHK
14      KANITA         18    47              84          87       PROMOSI
15      SARITA          2    32              87          51           PHK
16      BUDIAN         15    40              76          76        MUTASI
17     SARTIKA         11    32              91          94       PROMOSI
18        MIKO          6    25              59          66        MUTASI
19    RIANDANI         17    48              88          53           PHK
20     ULILWAN         24    52              67          96        MUTASI
21      KANISA         18    48              61          60       PROMOSI
22      SARINA          3    32              51          52           PHK
23     BUDIANA         15    48              66          93        MUTASI
24     SANTIKA         16    32              93          81       PROMOSI
25      SAFIRA         11    32              82          69       PROMOSI
26        MIRA         26    50              95          94        MUTASI
27      RIANTI         17    48              85          83           PHK
28        CICI         11    32              73          95       PROMOSI
29         INA          6    25              76          75        MUTASI
30        MIMA         11    32              58          82       PROMOSI
31        NAYA          6    25              54          97        MUTASI
32      SARINA         11    32              60          87       PROMOSI

In [115]:
def getClassifyMasaKerja(data_masakerja = data['masakerja']):
    dataClassifyMasaKerja = []
    junior = 0
    supervisor = 0
    manager = 0
    i = 0
    for masa in data_masakerja:
        if masa <= 10:
            junior += 1
            dataClassifyMasaKerja.append("Junior")
            i+=1
        if masa > 10 and masa <= 20:
            supervisor += 1
            dataClassifyMasaKerja.append("Supervisor")
            i+=1
        if masa >= 21 and masa <= 30:
            manager += 1
            dataClassifyMasaKerja.append("Manager")
            i+=1
    return dataClassifyMasaKerja
getClassifyMasaKerja()

['Junior',
 'Supervisor',
 'Junior',
 'Junior',
 'Supervisor',
 'Supervisor',
 'Manager',
 'Supervisor',
 'Junior',
 'Junior',
 'Supervisor',
 'Supervisor',
 'Junior',
 'Junior',
 'Supervisor',
 'Junior',
 'Supervisor',
 'Supervisor',
 'Junior',
 'Supervisor',
 'Manager',
 'Supervisor',
 'Junior',
 'Supervisor',
 'Supervisor',
 'Supervisor',
 'Manager',
 'Supervisor',
 'Supervisor',
 'Junior',
 'Supervisor',
 'Junior',
 'Supervisor']

In [ ]:
def getClassifyUsia(data_usia = data['usia']):
    dataClassifyUsia =  []
    Tua = 0
    Parubaya = 0
    Muda = 0
    i = 0
    for usia in data_usia:
        if usia >= 46 and usia <= 55:
            Tua += 1
            dataClassifyUsia.append("Tua")
            i+=1
        if usia >= 36 and usia <= 45:
            Parubaya += 1
            dataClassifyUsia.append("Paruhbaya")
            i+=1
        if usia >= 25 and usia <= 35:
            Muda += 1
            dataClassifyUsia.append("Muda")
            i+=1
    return dataClassifyUsia
getClassifyUsia()

In [ ]:
def getClassifyNilaiPelatihan(data_nilaipel = data['nilaipelatihan']):
    dataClassifyNilaiPelatihan = []
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaipel in data_nilaipel:
        if nilaipel >=81 and nilaipel <= 100:
            sangat_baik += 1
            dataClassifyNilaiPelatihan.append("Sangat Baik")
        if nilaipel >= 66 and nilaipel <= 80:
            baik += 1
            dataClassifyNilaiPelatihan.append("Baik")
        if  nilaipel >= 45 and nilaipel <= 65:
            kurang += 1
            dataClassifyNilaiPelatihan.append("Kurang")
    return dataClassifyNilaiPelatihan
getClassifyNilaiPelatihan()

In [ ]:
def getClassifyNilaiKinerja(data_nilaiker = data['nilaikerja']):
    dataClassifyNilaiKinerja = []
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaiker in data_nilaiker:
        if nilaiker >=81 and nilaiker <= 100:
            sangat_baik += 1
            dataClassifyNilaiKinerja.append("Sangat Baik")
        if nilaiker >= 66 and nilaiker <= 80:
            baik += 1
            dataClassifyNilaiKinerja.append("Baik")
        if  nilaiker >= 45 and nilaiker <= 65:
            kurang += 1
            dataClassifyNilaiKinerja.append("Kurang")
    return dataClassifyNilaiKinerja
getClassifyNilaiKinerja()

In [118]:
MasaKerja = getClassifyMasaKerja()
Usia = getClassifyUsia()
NilaiPelatihan = getClassifyNilaiPelatihan()
NilaiKinerja = getClassifyNilaiKinerja()
dataAfterClassify = pandas.DataFrame({  'NamaPegawai': data['namapegawai'],
                                        'MasaKerja': getClassifyMasaKerja(),
                                        'Usia': getClassifyUsia(),
                                        'NilaiPelatihan': getClassifyNilaiPelatihan(),
                                        'NilaiKerja': getClassifyNilaiKinerja()
                                    })
print(dataAfterClassify)

   NamaPegawai   MasaKerja       Usia NilaiPelatihan   NilaiKerja
0    ALI TOPAN      Junior       Muda           Baik  Sangat Baik
1      SARTIKA  Supervisor       Muda    Sangat Baik       Kurang
2         MIKA      Junior       Muda    Sangat Baik  Sangat Baik
3         RUBY      Junior       Muda           Baik  Sangat Baik
4   BIAN UTAMI  Supervisor  Paruhbaya         Kurang  Sangat Baik
5     RIANDARI  Supervisor  Paruhbaya    Sangat Baik       Kurang
6    ULI ALWAN     Manager        Tua    Sangat Baik         Baik
7       KANITA  Supervisor        Tua         Kurang  Sangat Baik
8       SARINI      Junior       Muda         Kurang         Baik
9       RAFINA      Junior  Paruhbaya    Sangat Baik  Sangat Baik
10     BUDIMAN  Supervisor        Tua           Baik  Sangat Baik
11     SARTIKA  Supervisor       Muda    Sangat Baik  Sangat Baik
12        MIKA      Junior       Muda           Baik  Sangat Baik
13        RUBY      Junior       Muda           Baik         Baik
14      KANITA  Supervisor        Tua    Sangat Baik  Sangat Baik
15      SARITA      Junior       Muda    Sangat Baik       Kurang
16      BUDIAN  Supervisor  Paruhbaya           Baik         Baik
17     SARTIKA  Supervisor       Muda    Sangat Baik  Sangat Baik
18        MIKO      Junior       Muda         Kurang         Baik
19    RIANDANI  Supervisor        Tua    Sangat Baik       Kurang
20     ULILWAN     Manager        Tua           Baik  Sangat Baik
21      KANISA  Supervisor        Tua         Kurang       Kurang
22      SARINA      Junior       Muda         Kurang       Kurang
23     BUDIANA  Supervisor        Tua           Baik  Sangat Baik
24     SANTIKA  Supervisor       Muda    Sangat Baik  Sangat Baik
25      SAFIRA  Supervisor       Muda    Sangat Baik         Baik
26        MIRA     Manager        Tua    Sangat Baik  Sangat Baik
27      RIANTI  Supervisor        Tua    Sangat Baik  Sangat Baik
28        CICI  Supervisor       Muda           Baik  Sangat Baik
29         INA      Junior       Muda           Baik         Baik
30        MIMA  Supervisor       Muda         Kurang  Sangat Baik
31        NAYA      Junior       Muda         Kurang  Sangat Baik
32      SARINA  Supervisor       Muda         Kurang  Sangat Baik