In [27]:
import pandas
import matplotlib.pyplot as plt
import seaborn as sns
csvpath = "d:/Code/PYTHON/AI/naive-baiyes/Program/data.csv"
data = pandas.read_csv(csvpath)
print(data.D)

   namapegawai  masakerja  usia  nilaipelatihan  nilaikerja hasilevaluasi
0    ALI TOPAN         10    35              71          93       PROMOSI
1      SARTIKA         15    32              82          62       PROMOSI
2         MIKA          5    25              91          88        MUTASI
3         RUBY          8    30              72          96       PROMOSI
4   BIAN UTAMI         20    45              59          98        MUTASI
5     RIANDARI         17    42              97          62        MUTASI
6    ULI ALWAN         23    52              97          73       PROMOSI
7       KANITA         18    48              50          84       PROMOSI
8       SARINI          2    32              60          72           PHK
9       RAFINA          7    37              81          99       PROMOSI
10     BUDIMAN         15    48              69          92        MUTASI
11     SARTIKA         15    32              87          85       PROMOSI
12        MIKA          5    25              70          90        MUTASI
13        RUBY          8    30              77          77           PHK
14      KANITA         18    47              84          87       PROMOSI
15      SARITA          2    32              87          51           PHK
16      BUDIAN         15    40              76          76        MUTASI
17     SARTIKA         11    32              91          94       PROMOSI
18        MIKO          6    25              59          66        MUTASI
19    RIANDANI         17    48              88          53           PHK
20     ULILWAN         24    52              67          96        MUTASI
21      KANISA         18    48              61          60       PROMOSI
22      SARINA          3    32              51          52           PHK
23     BUDIANA         15    48              66          93        MUTASI
24     SANTIKA         16    32              93          81       PROMOSI
25      SAFIRA         11    32              82          69       PROMOSI
26        MIRA         26    50              95          94        MUTASI
27      RIANTI         17    48              85          83           PHK
28        CICI         11    32              73          95       PROMOSI
29         INA          6    25              76          75        MUTASI
30        MIMA         11    32              58          82       PROMOSI
31        NAYA          6    25              54          97        MUTASI
32      SARINA         11    32              60          87       PROMOSI

In [21]:
def getClassifyMasaKerja(data_masakerja):
    junior = 0
    supervisor = 0
    manager = 0
    for masa in data_masakerja:
        if masa <= 10:
            junior = junior + 1
        if masa > 10 and masa <= 20:
            supervisor = supervisor + 1
        if masa > 30:
            manager = manager + 1
    print("junior = ",junior, "supervisor = ",supervisor, "manager = ",manager)
getClassifyMasaKerja(data['masakerja'])

junior =  12 supervisor =  18 manager =  0

In [26]:
def getClassifyUsia(data_usia):
    tua = 0
    parubaya = 0
    muda = 0
    for usia in data_usia:
        if usia >=46 and usia <= 55:
            tua += 1
        if usia >= 36 and usia <= 45:
            parubaya += 1
        if  usia >= 25 and usia <= 35:
            muda += 1
    print("tua = ", tua,"parubaya = ", parubaya, "muda = ",muda)
getClassifyUsia(data['usia'])

tua =  10 parubaya =  4 muda =  19

In [23]:
def getClassifyNilaiPelatihan(data_nilaipel):
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaipel in data_nilaipel:
        if nilaipel >=81 and nilaipel <= 100:
            sangat_baik += 1
        if nilaipel >= 66 and nilaipel <= 80:
            baik += 1
        if  nilaipel >= 45 and nilaipel <= 65:
            kurang += 1
    print("sangat_baik = ", sangat_baik,"baik = ", baik, "kurang = ",kurang)
getClassifyNilaiPelatihan(data['nilaipelatihan'])

sangat_baik =  14 baik =  10 kurang =  9

In [24]:
def getClassifyNilaiKinerja(data_nilaiker):
    sangat_baik = 0
    baik = 0
    kurang = 0
    for nilaiker in data_nilaiker:
        if nilaiker >=81 and nilaiker <= 100:
            sangat_baik += 1
        if nilaiker >= 66 and nilaiker <= 80:
            baik += 1
        if  nilaiker >= 45 and nilaiker <= 65:
            kurang += 1
    print("sangat_baik = ", sangat_baik,"baik = ", baik, "kurang = ",kurang)
getClassifyNilaiKinerja(data['nilaikerja'])

sangat_baik =  20 baik =  7 kurang =  6

In [35]:
print(data.dtypes)

namapegawai       object
masakerja          int64
usia               int64
nilaipelatihan     int64
nilaikerja         int64
hasilevaluasi     object
dtype: object